fastapi[standard]
uvicorn
pydantic
pydantic_settings
python-dotenv
python-multipart
jinja2
aiofiles
openai
google-genai
langchain
langchain-community
asyncpg
pandas
unstructured
pytest
pytest-asyncio
pytest-cov
httpx
colorama
aiohttp
